<section data-ng-controller="QuizController">
<form name="quiz" ng-submit="score()">
  <ul class="questions">
    <li data-ng-repeat="item in quiz.multipleChoice" >
        <h3>{{item.question}}</h3>
      <div class="answers">
        <label class="radio" data-ng-repeat="answer in item.answers">
          <input type="radio" value="{{answer}}" ng-change="selectAnswer(question, answer)" ng-model="$parent.question.selected"> {{answer}}
        </label>
      </div>
    </li>
    <li data-ng-repeat="item in quiz.fillIn">
      <h3>{{item.question}}</h3>
      <div class="answers">
        <label data-ng-repeat="field in item.correctAnswers">
          <input type="text" placeholder="Answer {{item.correctAnswers.indexOf(field) + 1 }}" ng-change="fillInAnswer(item, fillIn, $index)" ng-model="fillIn">
        </label>
      </div>
    </li>
  </ul>
  <input type="submit" value="Submit">
</form>
</section>
