h1 {
    text-align:center
}

ul.articles li:not(:last-child) {
    border-bottom:1px solid #ccc
}

.questions {
  list-style-type: none;
  margin-right: 20px;
}

.answers {
  list-style-type: none;
}