body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    text-align:center
}

ul.articles li:not(:last-child) {
    border-bottom:1px solid #ccc
}

.questions {
  list-style-type: none;
  margin-right: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.answers {
  list-style-type: none;
  margin-left: 35px; 
}

td {
  max-width: 200px;
  word-wrap: break-word;
}

.alert .close {
  top: -12px;
}

.green {
  background-color: #B9F0BC;
}

.red {
  background-color: #FAAAAA;
}

.green .red {

}

.score {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.tryAgain {
  margin-bottom: 20px;
}

