h1, h2 {
    text-align:center
}

ul.articles li:not(:last-child) {
    border-bottom:1px solid #ccc
}

.questions {
  list-style-type: none;
  margin-right: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.answers {
  list-style-type: none;
}